/* Inter Variable Font - Self-hosted for performance and GDPR compliance */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../fonts/inter/Inter-Variable.woff2') format('woff2-variations');
}
