<header class="circle-header">
    <div class="circle-header__inner">
        {{!-- Logo Section - Left --}}
        <a href="{{@site.url}}" class="circle-header__logo">
            <img src="https://res.cloudinary.com/dxhn08di4/image/upload/v1770034227/logo-plateforme_ibpiqf.png"
                 alt="{{@site.title}}"
                 width="200"
                 height="32">
        </a>

        {{!-- Navigation - Center --}}
        <nav class="circle-header__nav" aria-label="Navigation principale">
            <ul class="circle-nav">
                <li>
                    <a href="https://communaute.avancersimplement.com/feed"
                       class="circle-nav__link">Accueil</a>
                </li>
                <li>
                    <a href="https://communaute.avancersimplement.com/nos-applications"
                       class="circle-nav__link">Nos Applications</a>
                </li>
                <li>
                    <a href="https://communaute.avancersimplement.com/courses"
                       class="circle-nav__link">Cours</a>
                </li>
                <li class="circle-nav__item--active">
                    <a href="{{@site.url}}"
                       class="circle-nav__link"
                       aria-current="page">Blog</a>
                </li>
                <li>
                    <a href="https://communaute.avancersimplement.com/events"
                       class="circle-nav__link">Evenements</a>
                </li>
                <li>
                    <a href="https://communaute.avancersimplement.com/members"
                       class="circle-nav__link">Membres</a>
                </li>
                <li>
                    <a href="https://communaute.avancersimplement.com/leaderboard"
                       class="circle-nav__link">Leaderboard</a>
                </li>
            </ul>
        </nav>

        {{!-- Right section - Burger for mobile --}}
        <div class="circle-header__right">
            <label class="circle-header__burger" for="mobile-menu-toggle" aria-label="Menu">
                <span class="burger-line"></span>
                <span class="burger-line"></span>
                <span class="burger-line"></span>
            </label>
        </div>
    </div>
</header>
